## Welcome to Coding Exercise 4
**You only need to solve 2 question only**

### Question 1. 
### "Shifting Members of an Array"

In this question, we want to shift our array to the right. How many times? Depends on the input. 

##### Example 1:
array = [1,2,3,4,5]
steps = 3

We need to shift the array 3 steps to the right. 
- Original array = [1,2,3,4,5]
- Step 1 = [5,1,2,3,4]
- Step 2 = [4,5,1,2,3]
- Step 3 = [3,4,5,1,2]

Answer = [3,4,5,1,2]

##### Example 2:
array = [1,2,3]
steps = 5

We need to shift the array 5 steps to the right.

- Original array = [1,2,3]
- Step 1 = [3,1,2]
- Step 2 = [2,3,1]
- Step 3 = [1,2,3]
- Step 4 = [3,1,2]
- Step 5 = [2,3,1]

Answer = [2,3,1]

In [ ]:
### Write your function here ###
def shift(array, steps):
    return

In [ ]:
###Solution
from collections import deque

def shift(array,steps):
    myarray = deque(array)
    temp = []
    for i in range (steps):
        myarray.rotate(1) #rotate right
        a = list(myarray)
        temp.append(a)
    print(temp[-1])

shift ([1,2,3,4,5],4)

[2, 3, 4, 5, 1]

In [ ]:
shift([1,2,3,4,5],4)

# Expected Output: [2, 3, 4, 5, 1]

In [ ]:
from collections import deque

def shift(array,steps):
    myarray = deque(array)
    temp = []
    for i in range (steps):
        myarray.rotate(1) #rotate right
        a = list(myarray)
        temp.append(a)
    print(temp[-1])
shift(['andi', 'budi', 'charlie', 'doni'],7)

# Expected Output: ['budi', 'charlie', 'doni', 'andi']

['budi', 'charlie', 'doni', 'andi']

In [ ]:
from collections import deque

def shift(array,steps):
    myarray = deque(array)
    temp = []
    for i in range (steps):
        myarray.rotate(1) #rotate right
        a = list(myarray)
        temp.append(a)
    print(temp[-1])
shift(['di', 'bim', 'bing', 123, 'data', 'science'],10)

# Expected Output: ['bing', 123, 'data', 'science', 'di', 'bim']

['bing', 123, 'data', 'science', 'di', 'bim']

### Question 2. 
### "Segitiga Paskal"

We want to generate the n-th row of "Pascal's Triangle". Your function name should be ```pascal```. For those who does not know pascal triangle, watch this video: https://www.youtube.com/watch?v=1D3KsvfB8b0 and read https://www.mathsisfun.com/pascals-triangle.html 

##### Example 1:
Input = 4,

Answer = [1,4,6,4,1]

##### Example 2:
input = 3,

Answer = [1,3,3,1]

In [ ]:
### Write your solution here ###
def pascal(input):
    return

In [8]:
def pascal(n_rows):
    results = []
    for i in range(n_rows):
        row = [1]
        if results:
            last_row = results[-1]
            row.extend([sum(pair) for pair in zip(last_row, last_row[1:])])
            row.append(1)
        results.append(row)
    return results


for i in pascal(5):
    print(i)

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]

In [ ]:
### Solution

def pascal(input):

In [ ]:
pascal(3)

In [4]:
from math import factorial
 
# input n
n = 4
for i in range(n):
    for j in range(n-i+1):
 
        # for left spacing
        print(end=" ")
 
    for j in range(i+1):
 
        # nCr = n!/((n-r)!*r!)
        print(factorial(i)//(factorial(j)*factorial(i-j)), end=" ")
 
    # for new line
    print()

     1
    1 1
   1 2 1
  1 3 3 1

### Question 3

### "Maximum Distance Between 3 Points"

Given three coordinates, determine which two points are the furthest apart, and output the length of their distance. Your function should be called ```max_distance```. First coordinate is called 'A', second coordinate is called 'B', third coordinate is called 'C'. 


##### Example:
A = [1,2],
B = [10,-10],
C = [-3, 5]

- The distance between AB = 15
- The distance between BC = 19.8
- The distance between AC = 5.0

Answer = "The point A, B are furthest apart with distance 19.8"

In [5]:
import numpy as np

In [ ]:
### Write your solution here ###
def max_distance(A,B,C):